doctype html

html 
  head
    title The Garage at NU
    
    meta(name='the-garage-is', value='killin-it')
    meta(name='viewport', value='width=device-width,initial-scale=1')
    
    link(rel='stylesheet', type='text/css', href='main.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800')
  
  body
    header
      .top-bar
        img.nu(src="//thegarage.northwestern.edu/assets/img/northwestern-logo.svg")
      .content
        .abstract-upper
          .trap.trap-1
          .trap.trap-2
          .trap.trap-3
          .trap.trap-4
          
        img.logo(src='http://thegarage.northwestern.edu/assets/img/logo-header.svg')
        
        .abstract-lower
          .tri.tri-1
          .tri.tri-2
          .tri.tri-3
          .tri.tri-4
          .tri.tri-5

    section.events
      .content
        h1.pop-up Upcoming Events
        
        .swatch
